.home {
    &__wrapper {
        width: 100%;
        height: 716px;
        margin-top: -29px;
        background: url(../assets/img/home/home-bg.png);
        background-size: cover;
        box-sizing: border-box;
    }
    &__title {
        padding-top: 328px;
        @include font(Poppins, normal, 300, 28px, 39.2px, #000000);
        text-align: center;
    }
    &__description {
        margin-top: 10px;
        @include font(Poppins, normal, 400, 16px, 24px, #000000);
        text-align: center;
    }
    &__button {
        width: 335px;
        height: 54px;
        margin-top: 30px;
        @include font(Poppins, normal, 400, 14px, 21px, #ffffff);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000000;
    }
}
