@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/home";
@import "layout/decluter";
@import "layout/pads";
@import "layout/serum";
@import "layout/howtouse";
@import "layout/testimonials";
@import "layout/blog";

.main-wrapper {
  background: #ffffff;
}

.container {
  width: 335px;
  margin: 0 auto;
}
